$height: 380px;

.mdl-cell{
  padding: 10px 0 10px 0;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised{
  color: white;
  width: 100%;
  height: 75px;
}


.size{
  max-height: $height;
  height: $height;
  min-height: $height;
}

